/* Tablet Version */
@media (min-width: 768px) and (max-width: 1200px) {
  
  /* ---------- Navbar ---------- */
  .navbar-responsive-order {
    order: 1;
  }

  .navbar-toggler {
    width: 25px;
    height: 25px;
    border: none;
  }

  .navbar-toggler:focus {
    display: none;
  }

  .navbar-nav {
    margin-top: 7px;
  }

  .icon-toggler {
    margin-left: -9px;
  }

  .icon-toggler:hover {
    color: #006FE6;
  }

  /* ---------- Home ---------- */
  .home {
    margin-bottom: 170px;
    padding: none;
  }

  /* ---------- About ---------- */
  .about {
    margin-bottom: 70px;
  }

  /* ---------- Experience ---------- */
  .experience {
    margin-bottom: 70px;
  }

  /* ---------- Project ---------- */
  .content-project {
    margin-left: -12px;
  }

  .text-project-right-1, .text-project-left-1 {
    font-size: 1.3vw;
    margin-bottom: 5px;
  }

  .text-project-right-2, .text-project-left-2 {
    font-size: 2vw;
  }

  .text-project-right-3, .text-project-left-3 {
    font-size: 1.4vw;
    padding: 17px;
    margin: -10px 0 10px;
  }

  .text-project-right-4, .text-project-left-4 {
    font-size: 1.3vw;
  }

  .img-project-1, .img-project-2, .img-project-3 {
    width: 46vw;
  }

  /* ---------- Other Project ---------- */
  .other-project {
    margin-bottom: 70px;
  }

  /* ---------- Contact ---------- */
  .contact {
    margin-bottom: 70px;
  }

}